<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List of authors</title>
</head>
<body>

	<h1>Authors list</h1>

	<table>
		<tr>
			<th>ID</th>
			<th>First name</th>
			<th>Last name</th>
		</tr>
		<tr th:each="author : ${authors}">
			<td th:text="${author.id}">Test id</td>
			<td th:text="${author.firstName}">Test name</td>
			<td th:text="${author.lastName}">Test last name</td>
		</tr>
	</table>
</body>
</html>