<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Framework Guru</title>
</head>
<body>

	<h1>Book list</h1>

	<table>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Publisher</th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.id}">Test id</td>
			<td th:text="${book.title}">Test title</td>
			<td th:text="${book.publisher.name}">Test publisher name</td>
		</tr>
	</table>
</body>
</html>